* {
    box-sizing: border-box;
}
body {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    margin: 0;
    background-color: #F3F6FD; 
}
 .app {
    display: flex;
 }

 .panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
 }

 .logo {
    margin-bottom: 50px;
 }

 .panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
 }

 .menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
 }

 .menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
 }

 .menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
 }

 .menu__item:hover {
    background: #6A6AFB;
 }

 .menu__item:hover img {
    filter: brightness(0) invert(1);
 }

 .menu__item_active {
    background: #5051F9;;
 }

 .menu__item_active img {
    filter: brightness(0) invert(1);;
 }

 .menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;
 }

 .menu__add:hover {
    background: #EFF2FF;
 }

 .content {
    min-width: 900px;
    padding: 45px;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .h1 {
    font-size: 30px;
    line-height: 33px;
    color: #000000;
 }

 .progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
 }

 .progress__text {
    display: flex;
    justify-content: space-between;
 }

 .progress__name {
    font-size: 14px;
    line-height: 16px;
    color: #232360;
 }

 .progress__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768396;
 }

 .progress__bar {
    width: 100%;
    background: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
 }

 .progress__cover-bar {
    position: absolute;
    height: 5px;
    border-radius: 4px;
    background: #5051F9;
    transition: all 0.5s;
 }

 .habbit {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
 }

 .habbit__day {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #FBFAFF;;
    border-radius: 10px;
    border-right: 1px solid #E7EBFB;
    padding: 20px 40px;
    min-width: 150px;
 }

 .habbit__comment {
    padding: 20px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #23235F;
 }

 .habbit__delete {
    margin-right: 10px;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px
 }

 .habbit__delete:hover {
    background: #EFF2FF;
 }

 input {
    font-family: 'Comfortaa', cursive;
    background: #FFFFFF;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 20px;
    flex: 1;
 }

 input::placeholder {
    color: #8899A8;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
 }

 input.error {
   border: 1px solid red;
 }

 .habbit__form {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 0 10px 0 25px;
    position: relative;
}

.input_icon {
    padding-left: 45px;
}

.input__icon {
    position: absolute;
    left: 45px;
    top: 10px;
}

.button {
    background: #EDECFE;
    border-radius: 9px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #5051F9;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
}

.button:hover {
    background: #e2e0ff;
}

.cover {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background:rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   align-items: center;
}

.cover_hidden {
   display: none;
}

.popup {
   background: white;
   box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
   border-radius: 10px;
   width: 100%;
   max-width: 600px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.popup__close {
   position: absolute;
   right: 15px;
   top: 15px;
   background: none;
   cursor: pointer;
   border: 0;
}

h2 {
   font-weight: 400;
   font-size: 24px;
   line-height: 27px;
}

.icon-label {
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: #768396;
   margin-bottom: 10px;
}

.icon-select {
   display: flex;
   gap: 25px;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.icon {
   border: 1px solid #5051F9;
   border-radius: 14px;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   cursor: pointer;
}

.icon_active {
   background: #5051F9;
}

.icon:hover {
   background: #6A6AFB;
}

.icon:hover img {
   filter: brightness(0) invert(1);
}

.icon_active img {
   filter: brightness(0) invert(1);
}

.popup__form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.popup__form input {
   width: 100%;
}